.body {
    background-color: rgb(23, 23, 23);
}

.container-fluid {
    height: 60px;
}

.heading {
    margin-top: 130px;
    text-align: center;
    color: white;
    font-size: 60px;
} 

#top-right-heading {
    font-size: 30px;
}

#home-beside-navbar {
    margin-left: 20px;
}
